* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url("books.jpeg") no-repeat center fixed;
  background-size: cover;
}
.main-wrapper {
  width: 960px;
  margin: 50px auto;
  text-align: center;
}
.search-header {
  color: #034a5e;
  background-color: #ffffff60;
  margin-bottom: 50px;
}
.search-bar {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.search-button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #034a5e90;
  color: #fff;
}
.search-button:hover {
  background-color: #034a5e;
}
.search-button:active {
  background-color: #034a5e70;
  transform: translateY(4px);
}
.result {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}
.card {
  margin: 0 20px 20px 0;
  background-color: #033a83;
  width: calc(100% / 3 - 14px);
  height: 150px;
  border-radius: 5px;
  color: #fff;
}
.card:nth-child(3n + 0) {
  margin: 0 0 20px 0;
}
.title {
  padding: 10px 5px;
}
.card:hover {
  background-color: #034a5e;
}
