.book-page__wrapper {
  text-align: left;
  background-color: #4e4e50;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.book-page__add-or-remove-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.book-page__add {
  background-color: #6c9a36;
  border-radius: 5px;
  width: 150px;
  padding: 5px 0;
  cursor: pointer;
}

.book-page__remove {
  background-color: #c3063f;
  border-radius: 5px;
  width: 150px;
  padding: 5px 0;
  cursor: pointer;
}

.book-page__book-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.book-page__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-page__image-wrapper img {
  width: 150px;
  max-height: 170px;
  border-radius: 3px;
}

.book-page__info-title, .book-page__info-item {
  padding-bottom: 10px;
}

.book-page__info-titles-wrapper {
  margin-right: 20px;
}

.book-page__info-items-wrapper {
  margin-right: 20px;
}

.payment-page__response {
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  width: 700px;
  margin: 0 auto;
}

.payment-page__response h1 {
  margin-bottom: 10px;
}

.payment-page__successful {
  background-color: #6c9a36;
}

.payment-page__denied {
  background-color: #c3063f;
}

.home-page__search-bar {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .home-page__search-bar {
    font-size: 14px;
  }
}

.home-page__warning {
  color: #c3063f;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  left: -11%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.home-page__search-button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 1px 1px 1px #000;
          box-shadow: 1px 1px 1px #000;
  background-color: #950642a3;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-page__search-button:hover {
  background-color: #950641;
}

.home-page__search-button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.home-page__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px auto;
  width: 80%;
}

.home-page__card {
  position: relative;
  cursor: pointer;
  margin: 0 20px 20px 0;
  width: calc(100% / 4 - 15px);
  height: 200px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
}

.home-page__card:nth-child(4n + 0) {
  margin: 0 0 20px 0;
}

.home-page__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.home-page__card:hover .home-page__add-remove-button {
  opacity: 1;
}

.home-page__card:hover .home-page__card-book-title {
  opacity: 1;
}

.home-page__card:hover .home-page__card-book-image {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

@media only screen and (max-width: 600px) {
  .home-page__card {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.home-page__card-book-image {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  height: 100%;
  width: 160px;
}

.home-page__card-book-title {
  position: absolute;
  opacity: 0;
  background-color: #c3063f;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  bottom: 0;
  width: 160px;
  font-size: 10px;
  border-radius: 0 0 5px 5px;
  padding: 10px 0;
  z-index: 3;
}

.home-page__cart-box {
  opacity: 0;
  text-align: left;
  font-size: 12px;
  position: absolute;
  background-color: #4e4e50;
  color: #fff;
  width: 300px;
  right: 2%;
  top: 25%;
  padding: 10px;
  border-radius: 3px;
  max-height: 150px;
  overflow: scroll;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-page__add-remove-button {
  position: absolute;
  background-color: #6c9a36;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  top: 5%;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  z-index: 3;
}

.home-page__add-remove-button:hover {
  padding: 5px 15px;
}

.home-page__cart-item {
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page__cart-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.home-page__cart-item-title {
  cursor: pointer;
}

.home-page__cart-item-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.home-page__cart-item-amount-wrapper span {
  margin-right: 10px;
}

.home-page__cart-item-amount-wrapper {
  font-size: 14px;
}

.home-page__cart-item-amount-minus, .home-page__cart-item-amount-plus {
  padding: 5px;
  cursor: pointer;
}

.cart-page__header {
  text-align: left;
  padding-bottom: 10px;
  color: #fff;
}

.cart-page__table {
  width: 100%;
  background-color: #4e4e50;
  color: #fff;
  border-collapse: collapse;
}

.cart-page__table tr td {
  padding: 10px;
  min-width: 100px;
}

.cart-page__table-row {
  border-bottom: #fff solid 1px;
}

.cart-page__table-row:last-child {
  border-bottom: none;
}

.cart-page__table tr td:nth-child(1) {
  text-align: left;
}

.cart-page__table th {
  padding: 20px 0;
  background-color: #19191c;
  color: #fff;
}

.cart-page__table-wrapper {
  background-color: #fff;
  border-radius: 3px;
}

.cart-page__item-image {
  width: 50px;
  height: 80px;
  margin-right: 10px;
  cursor: pointer;
}

.cart-page__item-title {
  margin: auto auto;
  cursor: pointer;
}

.cart-page__item-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-page__item-remove {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #c3063f;
  cursor: pointer;
}

.cart-page__no-item {
  padding: 50px;
  background-color: #4e4e50;
  color: #fff;
}

.cart-page__total-cart-price-wrapper {
  padding: 25px 0;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #3b9480eb;
}

.cart-page__price-and-payment {
  width: 150px;
  color: #fff;
  float: right;
}

.cart-page__go-to-payment {
  background-color: #c3063f;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-page__payment-modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.cart-page__payment-modal-content {
  margin: 25% auto;
  padding: 20px;
  color: #fff;
  width: 60%;
  border-radius: 5px;
  background-color: #4e4e50;
}

.cart-page__payment-modal-button-wrapper {
  margin: 30px;
}

.cart-page__modal-button {
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.cart-page__modal-button:hover {
  opacity: 80%;
}

.cart-page__continue-shopping-button {
  background-color: #6c9a36;
}

.cart-page__close-payment-modal {
  background-color: #c3063f;
}

.cart-page__item-amount-wrapper span {
  margin-right: 10px;
}

.cart-page__item-amount-wrapper {
  font-size: 14px;
}

.cart-page__item-amount-minus, .cart-page__item-amount-plus {
  padding: 5px;
  cursor: pointer;
}

.nav-bar {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 5;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar__amir-books-logo {
  cursor: pointer;
  width: 300px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .nav-bar__amir-books-logo {
    width: 160px;
  }
}

.nav-bar__shopping-cart {
  margin-right: 30px;
  font-size: 25px;
  background-color: #c3063f;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-bar__shopping-cart:hover {
  background-color: #950641;
}

.nav-bar__shopping-cart:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media only screen and (max-width: 600px) {
  .nav-bar__shopping-cart {
    font-size: 16px;
  }
}

.nav-bar__cart-amount {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("./images/3.jpeg") no-repeat center fixed;
  background-size: cover;
}

.main-wrapper {
  width: 960px;
  margin: 250px auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .main-wrapper {
    width: 300px;
  }
}

.back-to-last-search-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background-color: #950642a3;
}

.back-to-last-search-button:hover {
  background-color: #950641;
}

.fa-cart-plus {
  margin-left: 10px;
}

.trash-icon {
  pointer-events: none;
}

.hydrated {
  vertical-align: middle;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin: 10px auto 0 auto;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */