* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url("books.jpeg") no-repeat center fixed;
  background-size: cover;
}
.main-wrapper {
  width: 960px;
  margin: 50px auto;
  text-align: center;
}
.search-header {
  color: #034a5e;
  background-color: #ffffff60;
  margin-bottom: 50px;
}
.search-bar {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.search-button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #034a5e90;
  color: #fff;
}
.search-button:hover {
  background-color: #034a5e;
}
.search-button:active {
  background-color: #034a5e70;
  transform: translateY(4px);
}
.result {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}
.card {
  display: flex;
  margin: 0 20px 20px 0;
  width: calc(100% / 3 - 14px);
  height: 150px;
}
.card:nth-child(3n + 0) {
  margin: 0 0 20px 0;
}
.title {
  color: #fff;
  background-color: rgba(60, 74, 93, 0.9);
  padding: 10px 5px;
  width: 50%;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
}
.card:hover .title {
  background-color: #034a5e;
  font-weight: bold;
}
.card:hover {
  transform: scale(1.05);
}
.book-image {
  width: 50%;
  border-radius: 0 5px 5px 0;
}
