@import "./variables";
@import "./mediaQueries";

.payment-page {
  &__response {
    padding: 20px;
    border-radius: 5px;
    color: $textWhite;
    width: 65%;
    margin: 0 auto;
    @include responsive(phone) {
      width: 55%;
    }
  }
  &__response h1 {
    margin-bottom: 10px;
  }
  &__successful {
    background-color: $lightGreen;
  }
  &__denied {
    background-color: $pinkRed;
  }
}
