$pinkRed: #c3063f;
$lightGreen: #6c9a36;
$textWhite: #fff;
$buttonRed: #950642a3;
$buttonRedHover: #950641;
$borderGray: #999;
$backgroundGray: #4e4e50;
$backgroundBlack: #19191c;
$petrol: #3b9480eb;
